.title {
    color: blue;
}
.bg {
    background: #f4f4f4 !important;
}
.section_seperator {
    padding: 80px 0;
}
.ul {
    padding-left: 0px;
    list-style: none;
}
.ul li {
    padding: 8px 0 !important;
}

.ul li a:hover {
    color: #f50057;
}
.social {
    padding-left: 0;
    list-style: none;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}
.social li {
    margin-right: 20px;
}
.footer_info p {
    margin: 15px 0;
}

.office {
    padding-left: 0;
    list-style: none;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0;
}

@media screen and (max-width: 992px) {
    .office {
        display: block;
        margin-top: 20px;
        padding: 0;
    }
    .office li {
        padding: 5px 0;
    }
}

.office li {
    padding: 5px !important;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.office ul li img {
    margin-right: 6px !important;
}
.hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: #eeeeee47;
}

.copyrightLink li a:hover {
    color: #f50057;
}
.copyrightLink {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 992px) {
    .copyrightLink {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        text-align: center;
    }
    .copyrightLink li {
        margin: 4px 0;
    }
}
.ez_footer {
    background-color: #f4f4f4 !important;
}
.ez_footer h4 {
    margin-bottom: 20px;
}
